<section class="todoapp">
  @defer (on hover) {
  <header class="header">
    <h1>todos - Angular 17</h1>
    <form
      class="todo-form"
      (submit)="
        todoService.addTodo(todoTitle.value);
        todoTitle.value = '';
        $event.preventDefault()
      "
    >
      <input
        class="new-todo"
        #todoTitle
        type="text"
        placeholder="What needs to be done?"
        autofocus
      />
    </form>
  </header>
  <div>
    <section class="main">
      <input
        id="toggle-all"
        class="toggle-all"
        type="checkbox"
        (click)="todoService.markAll(allChecked)"
      />
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <li
          *ngFor="let todo of filteredTodos()"
          [class.completed]="todo.completed"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="todo.completed"
              (change)="todoService.toggleTodo(todo.id)"
            />
            <label (dblclick)="editTodo(todo)">{{ todo.title }}</label>
            <button
              class="destroy"
              (click)="todoService.deleteTodo(todo.id)"
            ></button>
          </div>
          <form (submit)="todoService.saveEdits(todo)">
            <input
              class="edit"
              [(ngModel)]="todo.title"
              (blur)="todoService.saveEdits(todo)"
            />
          </form>
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="todos().length">
      <span class="todo-count"
        ><strong
          >{{ remainingCount }}
          {{ remainingCount | i18nPlural : messageMapping }}</strong
        >
      </span>
      <ul class="filters">
        <li>
          <a [class.selected]="filterBy() === 'all'" (click)="setFilter('all')"
            >All</a
          >
        </li>
        <li>
          <a
            [class.selected]="filterBy() === 'incomplete'"
            (click)="setFilter('incomplete')"
            >Active</a
          >
        </li>
        <li>
          <a
            [class.selected]="filterBy() === 'completed'"
            (click)="setFilter('completed')"
            >Completed</a
          >
        </li>
      </ul>
      <button
        class="clear-completed"
        (click)="todoService.clearCompletedTodos()"
        *ngIf="completedCount"
      >
        Clear completed
      </button>
    </footer>
  </div>
  } @placeholder {
  <div>Angular 17 placeholder</div>
  }
</section>
